@model IEnumerable<VTSMVC.Models.VehicleModel>
@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>VTS</title>
    <link href="../Content/bootstrap.css" rel="stylesheet" />

    <script src="../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>

    <script>


    function getPagination(table) {
        var lastPage = 1;

        $('#maxRows')
          .on('change', function (evt) {
              //$('.paginationprev').html('');						// reset pagination

              lastPage = 1;
              $('.pagination')
                .find('li')
                .slice(1, -1)
                .remove();
              var trnum = 0; // reset tr counter
              var maxRows = parseInt($(this).val()); // get Max Rows from select option

              if (maxRows == 5000) {
                  $('.pagination').hide();
              } else {
                  $('.pagination').show();
              }

              var totalRows = $(table + ' tbody tr').length; // numbers of rows
              $(table + ' tr:gt(0)').each(function () {
                  // each TR in  table and not the header
                  trnum++; // Start Counter
                  if (trnum > maxRows) {
                      // if tr number gt maxRows

                      $(this).hide(); // fade it out
                  }
                  if (trnum <= maxRows) {
                      $(this).show();
                  } // else fade in Important in case if it ..
              }); //  was fade out to fade it in
              if (totalRows > maxRows) {
                  // if tr total rows gt max rows option
                  var pagenum = Math.ceil(totalRows / maxRows); // ceil total(rows/maxrows) to get ..
                  //	numbers of pages
                  for (var i = 1; i <= pagenum;) {
                      // for each page append pagination li
                      $('.pagination #prev')
                        .before(
                          '<li data-page="' +
                            i +
                            '">\
								  <span>' +
                            i++ +
                            '<span class="sr-only">(current)</span></span>\
								</li>'
                        )
                        .show();
                  } // end for i
              } // end if row count > max rows
              $('.pagination [data-page="1"]').addClass('active'); // add active class to the first li
              $('.pagination li').on('click', function (evt) {
                  // on click each page
                  evt.stopImmediatePropagation();
                  evt.preventDefault();
                  var pageNum = $(this).attr('data-page'); // get it's number

                  var maxRows = parseInt($('#maxRows').val()); // get Max Rows from select option

                  if (pageNum == 'prev') {
                      if (lastPage == 1) {
                          return;
                      }
                      pageNum = --lastPage;
                  }
                  if (pageNum == 'next') {
                      if (lastPage == $('.pagination li').length - 2) {
                          return;
                      }
                      pageNum = ++lastPage;
                  }

                  lastPage = pageNum;
                  var trIndex = 0; // reset tr counter
                  $('.pagination li').removeClass('active'); // remove active class from all li
                  $('.pagination [data-page="' + lastPage + '"]').addClass('active'); // add active class to the clicked
                  // $(this).addClass('active');					// add active class to the clicked
                  limitPagging();
                  $(table + ' tr:gt(0)').each(function () {
                      // each tr in table not the header
                      trIndex++; // tr index counter
                      // if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
                      if (
                        trIndex > maxRows * pageNum ||
                        trIndex <= maxRows * pageNum - maxRows
                      ) {
                          $(this).hide();
                      } else {
                          $(this).show();
                      } //else fade in
                  }); // end of for each tr in table
              }); // end of on click pagination list
              limitPagging();
          })
          .val(5)
          .change();

        // end of on select change

        // END OF PAGINATION
    }

    function limitPagging() {
        // alert($('.pagination li').length)

        if ($('.pagination li').length > 7) {
            if ($('.pagination li.active').attr('data-page') <= 3) {
                $('.pagination li:gt(5)').hide();
                $('.pagination li:lt(5)').show();
                $('.pagination [data-page="next"]').show();
            } if ($('.pagination li.active').attr('data-page') > 3) {
                $('.pagination li:gt(0)').hide();
                $('.pagination [data-page="next"]').show();
                for (let i = (parseInt($('.pagination li.active').attr('data-page')) - 2) ; i <= (parseInt($('.pagination li.active').attr('data-page')) + 2) ; i++) {
                    $('.pagination [data-page="' + i + '"]').show();

                }

            }
        }
    }

  
    </script>
</head>
<body>
    <input type="hidden" id="Vehiclenumber" value="0" />
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Vehicle Tracking Details</h2>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-sm-9">
                <button type="button" id="addButton"
                        class="btn btn-primary"
                        onclick="addClick();">
                    Add Vehicle Info
                </button>
            </div>
          
     
            
         
            <div class="col-md-2">
                <input type="text"
                       class="form-control"
                       id="search" />
            </div>
            <button type="button" id="searchButton"
                    class="btn btn-primary"
                    onclick="searchClick();">
                Search
            </button>
        </div>

        <div class="row" id="vehicleInfoGrid">
            <div class="col-sm-12">

             

                <table id="vehicleTable"
                       class="table table-bordered table-condensed table-striped">
                    <thead>
                        <tr>
                           
                            <th>Vehicle Number</th>
                            <th>Engine Number</th>
                            <th>Chasis Number </th>
                      
                             <th>Organization</th>
                             <th>Vehicle Type</th>
                             <th>Manufacturing Year </th>
                             <th>Load Capacity</th>
                       
                            <th>Make of Vehicle</th>
                            <th>Model Number </th>
                            <th>Body Type </th>
                            <th>Edit</th>
                        </tr>  
                           
                            
                        
                    </thead>
                </table>

                <!--		Start Pagination -->
                <div class='pagination-container'>
                    <nav>                  
                            <div class="row">
                                <div class="col-md-1">
                                    <div>
                                        <!--		Show Numbers Of Rows 		-->
                                        <select class="form-control" name="state" id="maxRows">
                                            <option value="5000">Show ALL Rows</option>
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="15">15</option>
                                            <option value="20">20</option>
                                            <option value="50">50</option>
                                            <option value="70">70</option>
                                            <option value="100">100</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-9">

                                </div>
                                <div class="col-md-2">
                                    <ul class="pagination">
                                        <li data-page="prev">
                                            <span> < <span class="sr-only">(current)</span></span>
                                        </li>
                                        <!--	Here the JS Function Will Add the Rows -->
                                        <li data-page="next" id="prev">
                                            <span> > <span class="sr-only">(current)</span></span>
                                        </li>
                                    </ul>
</div>
                            </div>
                                
                           
                        
                      
                    </nav>
                </div>
              

            </div>
        </div>
        
        <div class="row hidden" id="vehicleInputDetails">
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Vehicle Information
                    </div>
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label>User Name</label>
                                <select class="form-control" id="Name" name="Name">
                                </select>
                            </div>
                           
                            <div class="col-md-3">
                                <label for="VehicleNumber">
                                    Vehicle Number
                                </label>
                                <input type="text"
                                       class="form-control"
                                       id="vehiclenumber" />
                            </div>
                            <div class="col-md-3">
                                <label for="url">
                                    Emgine Number
                                </label>
                                <input type="text"
                                       class="form-control"
                                       id="enginenumber" />
                            </div>
                            <div class="col-md-3">
                                <label for="ChasisNumber">
                                    Chasis Number
                                </label>
                                <input type="text"
                                       class="form-control"
                                       id="chasisnumber" />
                            </div>
                           
                          

                            </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label for="organization">
                                    Organization
                                </label>
                                <input type="text"
                                       class="form-control"
                                       id="organization" />
                            </div>
                            <div class="col-md-3">
                                <label for="vehicletype">
                                    Vehicle Type
                                </label>
                                <input type="text"
                                       class="form-control"
                                       id="vehicletype" />
                            </div>
                            <div class="col-md-3">
                                <label for="manufacturingyear">
                                    Manufacturing Year
                                </label>
                                <input type="text"
                                       class="form-control"
                                       id="manufacturingyear" />
                            </div>
                            <div class="col-md-3">
                                <label for="loadcarryingcapacity">
                                    Load Carrying Capacity
                                </label>
                                <input type="text"
                                       class="form-control"
                                       id="loadcarryingcapacity" />
                            </div>
                          
                           
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label for="makeofvehicle">
                                    Make of Vehicle
                                </label>
                                <input type="text"
                                       class="form-control"
                                       id="makeofvehicle" />
                            </div>
                            <div class="col-md-3">
                                <label for="modelnumber">
                                    Model Number
                                </label>
                                <input type="text"
                                       class="form-control"
                                       id="modelnumber" />
                            </div>
                            <div class="col-md-3">
                                <label for="bodytype">
                                    Body Type
                                </label>
                                <input type="text"
                                       class="form-control"
                                       id="bodytype" />
                            </div>
                        </div>
                      
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="button" id="updateButton"
                                        class="btn btn-primary"
                                        onclick="updateClick();">
                                    Add
                                </button>
                                <button type="button" id="cancelButton"
                                        class="btn btn-primary"
                                        onclick="cancelClick();">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    <script>
    $(document).ready(function () {
        vehicleList();
        BindmainType();
    
    });
    function BindmainType() {
        $.ajax({
            url: '@Url.Action("GetUserNameddl", "User")',
            method: "GET",

            dataType: "json",
            contentType: "application/json",
            success: function (response) {

                var items = '';
                $.each(response.data, function (i, optiondata) {
                    items += "<option value='" + optiondata.UserID + "'>" + optiondata.Name + "</option>";
                });

                $('#Name').html(items);
            }
        });
    }

        // Get all vehicles to display
        function vehicleList() {
            // Call Web API to get a list of vehicles
            $.ajax({
                url: '../api/Vehicle',
                type: 'GET',
                dataType: 'json',
                success: function (vehicles) {
                    vehicleListSuccess(vehicles);
                },
                error: function (request, message, error) {
                    handleException(request, message, error);
                }
            });
        }

        // Display all vehicles returned from Web API call
        function vehicleListSuccess(vehicles) {

            // Iterate over the collection of data
            $.each(vehicles, function (index, vehicle) {
                // Add a row to the Prvehicleoduct table
                vehicleAddRow(vehicle);
            });

            getPagination('#vehicleTable');
        }

        // Add vehicle row to <table>
        function vehicleAddRow(vehicle) {
            // First check if a <tbody> tag exists, add one if not
            if ($("#vehicleTable tbody").length == 0) {
                $("#vehicleTable").append("<tbody></tbody>");
            }

            // Append row to <table>
            $("#vehicleTable tbody").append(
              vehicleBuildTableRow(vehicle));
        }


        var Vehicle = {
            VehicleNumber: 0,
            ChasisNumber: "",
            EngineNumber: "",
            Organization: "",
            VehicleType: "",
            ManufacturingYear: "",
            LoadCarryingCapacity: "",
            MakeofVehicle: "",
            ModelNumber: "",
            BodyType: "",

        }
        function searchClick() {

            $("#vehicleTable tbody")[0].innerHTML = "";
            // Build vehicle object from inputs
            var Search = $("#search").val();
            var url = "../api/Search/" + Search;

            // Call Web API to update vehicle
            $.ajax({
                url: url,
                type: 'GET',
                contentType: "application/json;charset=utf-8",
                //  data: JSON.stringify(Search),
                success: function (vehicle) {
                    vehicleListSuccess(vehicle);
                },
                error: function (request, message, error) {
                    handleException(request, message, error);
                }
            });
        }
        function updateClick() {

            // Build vehicle object from inputs
            Vehicle = new Object();
            Vehicle.Name = $("#Name").val();
            Vehicle.VehicleNumber = $("#vehiclenumber").val();
            Vehicle.ChasisNumber = $("#chasisnumber").val();
            Vehicle.EngineNumber = $("#enginenumber").val();
            Vehicle.Organization = $("#organization").val();
            Vehicle.VehicleType = $("#vehicletype").val();
            Vehicle.ManufacturingYear = $("#manufacturingyear").val();
            Vehicle.LoadCarryingCapacity = $("#loadcarryingcapacity").val();
            Vehicle.MakeofVehicle = $("#makeofvehicle").val();
            Vehicle.ModelNumber = $("#modelnumber").val();
            Vehicle.BodyType = $("#bodytype").val();


            if ($("#updateButton").text().trim() == "Add") {
                vehicleAdd(Vehicle);
            }
            else {
                vehicleUpdate(Vehicle);
            }
        }
        function vehicleUpdate(vehicle) {
            var url = "../api/Vehicle/" + vehicle.VehicleNumber;

            // Call Web API to update vehicle
            $.ajax({
                url: url,
                type: 'PUT',
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(vehicle),
                success: function (vehicle) {
                    vehicleUpdateSuccess(vehicle);
                },
                error: function (request, message, error) {
                    handleException(request, message, error);
                }
            });
        }

        function vehicleUpdateSuccess(vehicle) {
            vehicleUpdateInTable(vehicle);
        }
        // Update vehicle in <table>
        function vehicleUpdateInTable(vehicle) {
            // Find Vehicle in <table>
            var row = $("#vehicleTable button[data-id='" + vehicle.VehicleNumber + "']")
                      .parents("tr")[0];
            // Add changed vehicle to table
            $(row).after(vehicleBuildTableRow(vehicle));
            // Remove original vehicle
            $(row).remove();


            $("#vehicleInfoGrid").removeClass("hidden");
            $("#vehicleInputDetails").addClass("hidden");

            // Clear form fields
            formClear();

            // Change Update Button Text
            $("#updateButton").text("Add");
        }
        // Build a <tr> for a row of table data
        function vehicleBuildTableRow(vehicle) {

            var ret = "<tr>" +
                  "<td>" + vehicle.VehicleNumber + "</td>" +
                  "<td>" + vehicle.EngineNumber + "</td>" +
                  "<td>" + vehicle.ChasisNumber + "</td>" +
                  "<td>" + vehicle.Organization + "</td>" +
                  "<td>" + vehicle.VehicleType + "</td>" +
                  "<td>" + vehicle.ManufacturingYear + "</td>" +
                  "<td>" + vehicle.LoadCarryingCapacity + "</td>" +
                  "<td>" + vehicle.MakeofVehicle + "</td>" +
                  "<td>" + vehicle.ModelNumber + "</td>" +
                  "<td>" + vehicle.BodyType + "</td>" +
                  "<td>" +
                    "<button type='button' " +
                        "onclick='vehicleGet(this);' " +
                        "class='btn btn-default' " +
                        "data-id='" + vehicle.VehicleNumber + "'>" +
                        "<span class='glyphicon glyphicon-edit' />" +
                    "</button>" +
                  "</td>" +
                "</tr>";

            return ret;
        }

        function vehicleAdd(Vehicle) {
            // Call Web API to add a new vehicle
            $.ajax({
                url: "/api/Vehicle",
                type: 'POST',
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(Vehicle),
                success: function (Vehicle) {
                    vehicleAddSuccess(Vehicle);
                },
                error: function (request, message, error) {
                    handleException(request, message, error);
                }
            });
        }
        function vehicleAddSuccess(vehicle) {
            vehicleAddRow(vehicle);

            $("#vehicleInfoGrid").removeClass("hidden");
            $("#vehicleInputDetails").addClass("hidden");
            formClear();
        }
        // Handle click event on Add button
        function addClick() {
            $("#vehicleInfoGrid").addClass("hidden");
            $("#vehicleInputDetails").removeClass("hidden");
            formClear();
        }
        function cancelClick() {
            $("#vehicleInfoGrid").removeClass("hidden");
            $("#vehicleInputDetails").addClass("hidden");
            formClear();
        }
        // Clear form fields
        function formClear() {
            $("#vehiclenumber").val("");
            $("#chasisnumber").val("");
            $("#enginenumber").val("");
            $("#organization").val("");
            $("#vehicletype").val("");
            $("#manufacturingyear").val("");
            $("#loadcarryingcapacity").val("");
            $("#makeofvehicle").val("");
            $("#modelnumber").val("");
            $("#bodytype").val("");
        }
        function vehicleGet(ctl) {

            // Get vehicle id from data- attribute
            var VehicleNumber = $(ctl).data("id");

            // Store vehicle id in hidden field
            $("#vehiclenumber").val(VehicleNumber);

            // Call Web API to get a vehicle
            $.ajax({
                url: "../api/Vehicle/" + VehicleNumber,
                type: 'GET',
                dataType: 'json',
                success: function (vehicle) {
                    vehicleToFields(vehicle);

                    // Change Update Button Text
                    $("#updateButton").text("Update");

                    $("#vehicleInfoGrid").addClass("hidden");
                    $("#vehicleInputDetails").removeClass("hidden");
                },
                error: function (request, message, error) {
                    handleException(request, message, error);
                }
            });
        }

        function vehicleToFields(vehicle) {
            $("#Name").val(vehicle.UserID);
            $("#vehiclenumber").val(vehicle.VehicleNumber);
            $("#chasisnumber").val(vehicle.ChasisNumber);
            $("#enginenumber").val(vehicle.EngineNumber);
            $("#organization").val(vehicle.Organization);
            $("#vehicletype").val(vehicle.VehicleType);
            $("#manufacturingyear").val(vehicle.ManufacturingYear);
            $("#loadcarryingcapacity").val(vehicle.LoadCarryingCapacity);
            $("#makeofvehicle").val(vehicle.MakeofVehicle);
            $("#modelnumber").val(vehicle.ModelNumber);
            $("#bodytype").val(vehicle.BodyType);
        }
        // Handle exceptions from AJAX calls
        function handleException(request, message, error) {
            var msg = "";

            msg += "Code: " + request.status + "\n";
            msg += "Text: " + request.statusText + "\n";
            if (request.responseJSON != null) {
                msg += "Message" + request.responseJSON.Message + "\n";
            }

            alert(msg);
        }
    

    </script>
</body>


</html>
